[submodule "board"]
	path = board
	url = git@bitbucket.org:raadyx/documents-raadyx-board.git
[submodule "operations"]
	path = operations
	url = git@github.com:raadyx-contracts/Documents-raadyx-operations.git
